.chatbotbody {
    font: 13px Helvetica, Arial;
}

.headbox {
    text-align: center;
    padding: 5px 15px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
}

.headbox img {
    max-width: 120px;
}

.headbox h1 {
    margin-left: 40vw;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

.chatbotbody form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    left: 220px;
}

.chatbotbody form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    outline: none;
}

.chatbotbody form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#chatTabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
    float: left;
    border-right: 1px solid #696969;
    height: 89vh;
    overflow-y: auto;
}

#chatTabs li.chat-tab {
    padding: 13px;
    font-weight: 600;
    /* float: left;
    border: 1px solid #696969; */
    /* border-radius: 10px 10px 0 0; */
    cursor: default;
    border-radius: 0;
    border-bottom: 1px solid #696969;
}

#chatTabs li.chat-tab.selected {
    font-weight: bold;
    color: white;
    background-color: rgb(0 161 97);
    border-radius: 0;
}

#chatWindows {
    float: left;
    border-top: 1px solid #696969;
    width: calc(100% - 220px);
}

ul.chat-window {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 83vh;
    overflow-y: auto;
}

ul.chat-window li {
    padding: 8px 10px;
}

ul.chat-window li.operator-message {
    color: blue;
}

ul.chat-window li.operator-error {
    color: red;
}

ul.chat-window li.operator-message::before {
    content: "> "
}

ul.chat-window li.customer-message {}

ul.chat-window li.agent-response {
    font-style: italic;
}

ul.chat-window li:nth-child(odd) {
    background: #c1f7cd;
}

#chatTabs::-webkit-scrollbar,
ul.chat-window::-webkit-scrollbar {
    width: 8px;
    background: rgba(211, 211, 211, 0.13);
}

#chatTabs::-webkit-scrollbar-track,
ul.chat-window::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(211, 211, 211, 0.74);
    ;
    border-radius: 15px;
}

#chatTabs::-webkit-scrollbar-thumb,
ul.chat-window::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 0px rgba(211, 211, 211, 0.719);
    ;
    background: #ccc;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}