<div class="chatbotbody">
    <div class="headbox">
        <img src="assets/Xoriant-Logo.png" alt="Xoriant">
        <h1>Recruiter</h1>
    </div>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><fa-icon [icon]="faSearch"></fa-icon></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body contacts_body">
                        <ul class="contacts">
                            <ng-container *ngFor="let connectedCustomer of connectedCustomers | keyvalue">
                                <li [ngClass]="{'active': connectedCustomer.value.isSelected == true}" (click)="onCustomerTabClicked(connectedCustomer.key)">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="assets/user_avatar.png" class="rounded-circle user_img">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <span>{{connectedCustomer.value.name}}</span>
                                            <p>{{connectedCustomer.value.name}} is {{connectedCustomer.value.isConnected ? 'online' : 'offline'}}</p>
                                            <ng-container *ngIf="connectedCustomer.value.isRequestingOperator">
                                                <p>Requesting operator</p>
                                                <span class="btn btn-default" (click)="joinConversationClick(connectedCustomer.value)"><fa-icon [icon]="faHandsHelping"></fa-icon></span>
                                            </ng-container>

                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6 chat" *ngIf="connectedCustomers.size > 0">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="assets/human_operator_avatar.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat</span>
                                <p>{{selectedCustomer.messages.length}} messages</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <ng-container *ngFor="let chatmessage of selectedCustomer.messages;">
                            <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.type=='r'">
                                <div class="img_cont_msg">
                                    <img src="assets/human_operator_avatar.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    {{chatmessage.msg}}
                                    <span class="msg_time">{{chatmessage.time | date: 'dd/MM/yyyy hh:mm a'}}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4" *ngIf="chatmessage.type=='s'">
                                <div class="msg_cotainer_send">
                                    {{chatmessage.msg}}
                                    <span class="msg_time_send">{{chatmessage.time| date: 'dd/MM/yyyy hh:mm a'}}</span>
                                </div>
                                <div class="img_cont_msg" *ngIf="chatmessage.isAgentResponse">
                                    <img src="assets/robot-chat.jpg" class="rounded-circle user_img_msg">
                                </div>
                                <div class="img_cont_msg" *ngIf="!chatmessage.isAgentResponse">
                                    <img src="assets/user_avatar.png" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <textarea name="" class="form-control type_msg" placeholder="Type your query here..." [(ngModel)]="currentMessage" (keyup)="onKey($event, selectedCustomer.id)"></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn" (click)="onSend(selectedCustomer.id)"><fa-icon [icon]="faLocationArrow"></fa-icon></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>