<header>
    <a href="https://www.xoriant.com/"><img src="assets/Xoriant-Logo.png" alt="Xoriant" width="80px"></a>
</header>
<div class="center chat-container container chat" [hidden]="isShow">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="assets/human_operator_avatar.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>Chat</span>
                    <p>{{messages.length}} messages</p>
                </div>
                <!-- <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div> -->
            </div>
            <img src="assets/xmark-solid.svg" class="closebtn" (click)=toggleDisplay()>
            <!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li>
                        </ul>
                    </div> -->
        </div>
        <div class="card-body msg_card_body">
            <ng-container *ngFor="let chatmessage of messages;">
                <div class="d-flex justify-content-start mb-4" *ngIf="chatmessage.type=='r'">
                    <div class="img_cont_msg">
                        <img src="assets/human_operator_avatar.png" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        {{chatmessage.msg}}
                        <span class="msg_time">{{chatmessage.time | date: 'dd/MM/yyyy hh:mm a'}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4" *ngIf="chatmessage.type=='s'">
                    <div class="msg_cotainer_send">
                        {{chatmessage.msg}}
                        <span class="msg_time_send">{{chatmessage.time| date: 'dd/MM/yyyy hh:mm a'}}</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="assets/user_avatar.png" class="rounded-circle user_img_msg">
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <!-- <div class="input-group-append">
                            <span class="input-group-text attach_btn"><fa-icon [icon]="faPaperclip"></fa-icon></span>
                        </div> -->
                <textarea name="" class="form-control type_msg" placeholder="Type your query here..." [(ngModel)]="currentMessage" (keyup)="onKey($event)"></textarea>
                <div class="input-group-append">
                    <span class="input-group-text send_btn" (click)="onSend()"><fa-icon [icon]="faLocationArrow"></fa-icon></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div (mouseover)=tooltip() (mouseout)="changeText=false">
    <img class="helpbtn" src="assets/robot-chat.jpg" alt="Xoriant" (click)=toggleDisplay()>
    <span *ngIf="changeText" class="helptext">Can I Help?</span>
</div>